body {
    background-color: #dedede !important;
    width: 1024px;
    margin: 0 auto;
    border: 2px solid darkgrey;
    border-radius: 15px;
    /*box-shadow: 0.6em 0 0.4em darkblue ;*/
}

main {
    min-height: 400px;
}

nav {
    border-radius: 13px 13px 0 0;
}

footer {
    height: 30px;
    position: sticky;
    bottom: 0;
    background-color: #0d6efd;
    color: white;
    text-align: center;
    border-radius: 0 0 13px 13px;
}

