h2{
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.name {
    font-weight: bold;
}

.value {
    color: #555;
}

.divImage{
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.divImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

