{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h2>Update Profile</h2>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button>Modifier</button>
    {{ form_end(userForm) }}
{% endblock %}
